<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

# üìù  Project1

In [20]:
import pandas as pd
import numpy as np
from google.colab import files
import io
import matplotlib.pyplot as plt 
import random
import seaborn as sns

In [2]:
uploaded = files.upload()

Saving vgames2.csv to vgames2.csv

In [10]:
df = pd.read_csv('vgames2.csv',index_col=0)

In [12]:
df.head(3)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0

Name : Í≤åÏûÑÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.

Platform : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.

Year : Í≤åÏûÑÏù¥ Ï∂úÏãúÎêú Ïó∞ÎèÑÏûÖÎãàÎã§.

Genre : Í≤åÏûÑÏùò Ïû•Î•¥ÏûÖÎãàÎã§.

Publisher : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨ÏûÖÎãàÎã§.

NA_Sales : Î∂ÅÎØ∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

EU_Sales : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

JP_Sales : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

Other_Sales : Í∏∞ÌÉÄÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

1. **ÏßÄÏó≠Ïóê Îî∞ÎùºÏÑú ÏÑ†Ìò∏ÌïòÎäî Í≤åÏûÑ Ïû•Î•¥Í∞Ä Îã§Î•ºÍπå ÎùºÎäî ÏßàÎ¨∏Ïóê ÎåÄÎãµÏùÑ ÌïòÏÖîÏïºÌï©ÎãàÎã§.**
2. **Ïó∞ÎèÑÎ≥Ñ Í≤åÏûÑÏùò Ìä∏Î†åÎìúÍ∞Ä ÏûàÏùÑÍπå ÎùºÎäî ÏßàÎ¨∏Ïóê ÎåÄÎãµÏùÑ ÌïòÏÖîÏïºÌï©ÎãàÎã§.**
3. **Ï∂úÍ≥†ÎüâÏù¥ ÎÜíÏùÄ Í≤åÏûÑÏóê ÎåÄÌïú Î∂ÑÏÑù Î∞è ÏãúÍ∞ÅÌôî ÌîÑÎ°úÏÑ∏Ïä§Í∞Ä Ìè¨Ìï®ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§. **

## **Ï†ÑÏ≤òÎ¶¨**

---

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.3+ MB

###**Î∞úÍ≤¨Îêú Î¨∏Ï†ú **
1. `Platform` ÏóêÏÑú ÏßÄÏõê ÌîåÎû´Ìèº Î™ÖÏù¥ Ïà´ÏûêÏù∏ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§.
  
  -> ÌñâÏùÑ Î™®Îëê **Ï†úÍ±∞ÌïúÎã§.**
2. `Year` ÏóêÏÑú Îç∞Ïù¥ÌÑ∞Í∞Ä N/A Ïù∏ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§.
 
  -> Î¨∏ÏûêÏó¥Ïù∏ ÎìØ ÌïòÏòÄÏúºÎÇò Îã§Î•∏ Î¨∏Ï†úÎ°ú Ïù∏Ìï¥ Î¨∏ÏûêÏó¥Ï≤òÎüº Ï∂úÎ†•ÎêòÎäî ÌòÑÏÉÅÏù¥ÏóàÎã§. **Ï†úÍ±∞ÌïúÎã§**.
3. `Year` ÏóêÏÑú Ïó∞ÎèÑÏà´ÏûêÏùò Î≤îÏúÑÍ∞Ä ÏïÑÎãå Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§. 
  
  -> 1950ÎÖÑ ~ 2050ÎÖÑ Î≤îÏúÑ Ïù¥Ïô∏Ïùò Îç∞Ïù¥ÌÑ∞Îäî Î™®Îëê **Ï†úÍ±∞ÌïúÎã§. **

  -> ÏûêÎ£åÌòïÏùÑ intÎ°ú ÍµêÏ≤¥ÌïúÎã§.

4. Ïû•Î•¥Í∞Ä Í≥µÎ∞±Ïù∏ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§.

  -> Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê **Ï†úÍ±∞ÌïúÎã§.**

5. ÌçºÎ∏îÎ¶¨ÏÖîÏù¥Î¶ÑÏù¥ Ïà´ÏûêÌòïÏù∏ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§. 

  -> Ïù¥Î¶ÑÏù¥ Ïà´ÏûêÎßå ÏûàÎäî ÌñâÏùÄ **Ï†úÍ±∞ÌïúÎã§.**

6. Sales Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú K,M Îì± Í∞íÎì§Ïùò Îã®ÏúÑÍ∞Ä Ï§ëÍµ¨ÎÇúÎ∞©Ïù¥Îã§.

  -> Î™®Îì† Îã®ÏúÑÎ•º M Îã®ÏúÑÎ°ú **ÌÜµÏùºÌïúÎã§**. 
  -> 480KÎäî 0.48 Î°ú ÎÇòÌÉÄÎÇ∏Îã§. 4100KÎäî 4.1 Î°ú ÎÇòÌÉÄÎÇ∏Îã§.
  -> Ïà´ÏûêÏóê M,KÍ∞Ä Î∂ôÏùÄ Í≤ΩÏö∞ ÎñºÎ≤ÑÎ¶∞Îã§.
  -> ÏûêÎ£åÌòïÏùÑ floatÎ°ú ÍµêÏ≤¥ÌïúÎã§.

## **1. ÏßÄÏó≠Ïóê Îî∞ÎùºÏÑú ÏÑ†Ìò∏ÌïòÎäî Í≤åÏûÑ Ïû•Î•¥**

### **1-1. Dot product**

- Dot productÎ•º Ïù¥Ïö©ÌïòÏó¨ Íµ¨Îß§ÏûêÎ≥Ñ Íµ¨Îß§ Ï¥ùÌï©ÏùÑ Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.
  - Data Description
    - People : Íµ¨Îß§Ïûê
    - Name : Ï†úÌíàÎ™Ö
    - Price : Ï†úÌíà Í∞úÎãπ Í∞ÄÍ≤©
    - Amount : Ï†úÌíà Íµ¨Îß§ Í∞ØÏàò

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

##### **Q1. Dot productÎ•º ÌÜµÌï¥ Íµ¨Ìïú Íµ¨Îß§Ïûê XÏùò Íµ¨Îß§ Ï¥ùÌï©ÏùÑ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
sp.Matrix(array) # array

Matrix([
[ 1,  0, 2],
[-3,  4, 6],
[-1, -2, 3]])